body {
    font-family: 'Open Sans', sans-serif; 
    font-size:16px;
    color: #000;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
p, div, input, span, a, ul, li {
  box-sizing: border-box;

}
p {
    line-height: 1.8em;
}
h1, h2, h3, h4 {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}
a {
    margin: 0;
    font-family: 'Montserrat' sans-serif;
    font-weight: 900;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.header {
    background: rgba(78,190,254,1);
    background: -moz-linear-gradient(-45deg, rgba(78,190,254,1) 0%, rgba(55,143,217,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,190,254,1)), color-stop(100%, rgba(55,143,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(78,190,254,1) 0%, rgba(55,143,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,190,254,1) 0%, rgba(55,143,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,190,254,1) 0%, rgba(55,143,217,1) 100%);
    background: linear-gradient(135deg, rgba(78,190,254,1) 0%, rgba(55,143,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebefe', endColorstr='#378fd9', GradientType=1 );
    padding:60px;
    padding-bottom: 145px;
    color:#fff;
}
.wrapper {
    display:flex;
    justify-content: space-between;
}
.offer {
    margin-top: 180px;
    width: 600px;
}
.title {
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
}
.title span {
    font-size: 59px;
}
.intro {
    width: 405px;
    margin-bottom: 46px;
    margin-top: 30px;
}
.btn {
    font-family: 'Montserrat', sans-serif;
    background: #ffd429;
    color: #000;
    display: block;
    width: 222px;
    padding: 20px 0px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
    border: none;
}
.btn:hover {
    background: #164d7a;
    color: #fff;
}
.headerimage {
    margin-top: 50px;
}
.future {
    padding-top: 100px;
    padding-bottom: 120px;
}
.section-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
.advantages {
    display: flex;
    justify-content: space-between;
}
.advantage {
    width: 285px;
    background: url('../img/icon1.jpg') no-repeat top;
    padding-top: 90px;
    text-align: center;
}
.advantage-title {
    font-size: 19px;
}
.advantage-text {
    font-size: 15px;
    font-weight: 400;
    margin-top: 8px;
    line-height: 1.8em;
}
.advantage-trip {
   background: url('../img/icon2.jpg') no-repeat top;  
}
.advantage-bild {
   background: url('../img/icon3.jpg') no-repeat top; 
}
.advantage:hover {
    color: #164d7a;
}
.feedback-form {
    background: #ecf3f8;
    padding-top: 100px;
    padding-bottom: 105px;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input {
    width: 342px;
    border: solid 1px #bbb;  
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    padding: 16px 26px;
    margin-bottom: 16px;
    display: block;
    border-radius: 3px;
}
.btn-form {
    width: 342px;
}
.footer{
    color: #fff;
    background: #164d7a;
    padding: 44px 0px;
    text-align: center;
}
.credits {
    font-size: 14px;
}
.black{
    color: black;
}
/*RESPONSIVE*/
/*992-1200*/
@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .wrapper{
        flex-direction: column;
    }
    .offer{
        margin-top: 50px;
        width: 100%;
    }
    .title{
        width: 100%;}
    .intro{
        width: auto;
    }
    .headerimage{
        display: block;
        width: 641px;
        margin: 31px auto -125px;
    }
    .future {
    padding-top: 50px;
    padding-bottom: 50px;
    }
    .advantages{
        flex-direction: column;
    } 
    .advantage{
        width: auto;
        margin-bottom: 30px;
    }
    .feedback-form{
        padding-top: 65px;
    }
}

/*768-992*/
@media screen and (max-width: 992px){
    .container {
        width: 720px;
    }
    .headerimage{
        width: 100%;
    }
}
/*576-768*/
@media screen and (max-width: 768px){
    .container {
        width: 540px;
    }
} 
/*0-576*/
@media screen and (max-width: 576px){
    .container {
        width: 90%;
    }
    .btn{
        width: 100%;
    }
    input {
        width: 100%;
    }
    .btn-form {
        width: 100%;
    }
    .title{
        font-size: 28px;
    }
    .title span {
    font-size: 49px;
}